{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_heading %}
Forgot Your Password?
{% endblock %}

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below. An email will be sent to set a new password.</p>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
   <label for="id_email">Email address: </label>
   <input type="email" value="Reset My Password" />
<br>
    <button class="btn btn-primary mb-3" type='submit'>Reset My Password</button>
  </form>
</div>
{% endblock %}