{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you for shopping with us!</h2>
            <p class="lead mb-5">Your order has been successfuly completed. We will be in touch with you via email. </p>
            <p><a href="{% url 'show_products' %}" class="btn btn-sm height-auto px-4 py-3 btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to shop</a></p>
        </div>
    </div>
</div>

{% endblock %}