.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

img {
    width: 100%;
}

/*card to display categories*/

.card {
    display: inline-block;
}

.card img {
    height: 200px;
}

h2 {
    margin-top: 20px;
}