{% extends 'base.html' %}
{% load static %}
{% block page_title %}
Home Page
{% endblock %}

{% block page_heading %}
Home
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
  <div class="col-md-12"></div>
  <div class="col-md-12">
      <center>Welcome to Rach's Coffee Roasters. You can be assured that we personally select the best quality coffee beans for our consumers. Start shopping by creating an account, login and selecting the best coffee product for you.</center>
      
    <br><br></div>
<div class="col-md-4"></div>
</div> 
</div>

     <div class="index-banner">
<img src="{% static 'images/index-coffee.jpg' %}"  alt="coffee-image">
</div>

<div class="container">
    <h2>Coffee Categories</h2>
    <div class="card-deck">
<!--card cat 1-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/ground-coffee.jpg' %}" alt="ground-coffee">
  <div class="card-body">
    <h5 class="card-title">Ground Coffee</h5>
    <p class="card-text">Ground coffee can be brewed in various ways, from Espresso to Americano. And each time it’s a unique aroma experience.</p>
    <a href="{% url 'show_products' %}" class="btn btn-primary">Shop Now</a>
  </div>
</div>

<!--card cat 2-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/instant-coffee.jpg' %}" alt="instant-coffee">
  <div class="card-body">
    <h5 class="card-title">Instant Coffee</h5>
    <p class="card-text">Our instant coffee is a unique blend of 100% Arabica. After the extraction, the presence of the our blend enhances the aroma of the preparation.</p>
    <a href="{% url 'show_products' %}" class="btn btn-primary">Shop Now</a>
  </div>
</div>

<!--card cat 3-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/coffee-beans.jpg' %}" alt="coffee-beans">
  <div class="card-body">
    <h5 class="card-title">Coffee Beans</h5>
    <p class="card-text">Our coffee beans for connoisseurs and devotees who love the ritual of grinding the beans before brewing up.</p>
    <a href="{% url 'show_products' %}" class="btn btn-primary">Shop Now</a>
  </div>
</div>

</div>
</div>
</div>

{% endblock %}