{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>My Cart</h1>
<!--<ul>-->
<!--    {%for id,product in shopping_cart.items %}-->
<!--        <li>-->
<!--            {{product.name}}<br/>-->
<!--            SGD $ {{product.price}}-->
<!--            <a href="{% url 'remove_from_cart' product_id=product.id %}" class="btn btn-primary"> Remove from Cart</a>-->
<!--        </li>-->
<!--    {%endfor%}-->


<!--</ul>-->
<!--<div class="container">-->
<section class="shopping_cart">
<table class="table cart">
    <thead>
        <tr>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        {%for id, product in shopping_cart.items %}
        <tr>
            <td><img src="{{product.image_url}}" /></td>
            <td>{{product.name}}</td>
            <td>
                <a href="{% url 'minus_from_cart' product_id=id %}"><i class="fa fa-minus mr-2"></i></a>
                 {{product.quantity}} 
                <a href="{% url 'add_to_cart' product_id=id %}"><i class="fa fa-plus ml-2"></i></a>
            </td>
            <td>${{product.price}}</td>
           
            <td>${{product.total_price}}</td>
            <td><a href="{% url 'remove_from_cart' product_id=id %}"><i class="fa fa-trash dustbin"></i></a></td>
        </tr>
        {%endfor%}
        <tr class="total_price">
            <th scope="row">Order Total: </th>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="12">${{overall_total_price}}</td>
        </tr>

        <tr>
            <td colspan="12">

                <a class='btn btn-warning float-right ml-2 checkout' href='{% url 'checkout' %}'><span class="fa fa-check-circle-o" aria-hidden="true"></span>Proceed to checkout</a>
                <a class='btn btn-outline-warning float-right shopping' href='{% url 'show_products' %}'>Continue shopping</a>
            </td>
        </tr>
    </tbody>
</table>

</section>
<!--</div>-->


{% endblock %}
