{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <title>{% block page_title %}Rach's Coffee Roasters{% endblock %}</title>
</head>
<body>
<!--navbar-->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light pt-0 pb-0" style="background-color: #FFE5E7
;">
  <a class="navbar-brand" href="{% url 'index' %}"> Rach's Coffee Roasters </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/catalog"> Products</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i class="fa fa-user"></i>My Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out left"></i>Logout</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart"></i> Cart ({{number_of_items}})
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"> <i class="fa fa-user-plus"></i>Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> <i class="fa fa-sign-in"></i>Log In</a></li>
        {% endif %}
            </a>
        </li>
      </ul>
  </div>
</nav>


{% if messages %}
    <div class="white-text">
        <div class="center-align messages">
            <a class="waves-effect waves-light btn-floating amber darken-3"><i class="material-icons">notifications</i></a>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class='container'>
    {%block content%}{%endblock%}
  </div>

<!--<div class='container-fluid'>-->
<!--      <div class='alert alert-success'>-->
<!--         {% if messages %}-->
<!--          <div>-->
<!--              {% for message in messages %} {{ message }} {% endfor %}-->
<!--          </div>-->
<!--        {% endif %}   -->
    
<!--   <ul>-->
<!--       {% if not user.is_authenticated %}-->
<!--        <li><a href="{% url 'login' %}">Login</a></li>-->
<!--         <li><a href="{% url 'register' %}">Register</a></li>-->
<!--        {% endif %}-->
       
<!--        <li>Profile</li>-->
<!--        {% if user.is_authenticated %}-->
<!--        <li><a href="{% url 'logout' %}">Logout</a></li>-->
      
<!--        {% endif %}-->
<!--   </ul>-->
<!--   <h1>{% block page_heading %}{% endblock %}</h1>-->
   

<!--   </div>-->
 
 
 
 <!--script-->
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>