<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <title>{% block page_title %}Rach's Coffee Roasters{% endblock %}</title>
</head>
<body>
<!--navbar-->
<header>
 <nav>
    <div class="nav-wrapper">
      <a href="{% url 'index' %}" class="brand-logo">Rach's Coffee Roasters</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/products"> Products</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}"><i class="material-icons left">view_list</i>My Profile</a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons left">home</i>Logout</a></li>
        <li>
            <a href="{% url 'view_cart' %}"><i class="fa fa-list"></i> Cart
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
        {% else %}
        <li><a href="{% url 'register' %}"> Register</a></li>
        <li><a href="{% url 'login' %}"> Log In</a></li>
        {% endif %}
            </a>
        </li>
      </ul>

      <ul class="side-nav red lighten-3" id="mobile-demo">
        <li><a href="/products"> Products</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}"><i class="material-icons left">view_list</i>My Profile</a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons left">home</i>Logout</a></li>
        <li>
            <a href="{% url 'view_cart' %}"><i class="fa fa-list"></i> Cart
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
        {% else %}
        <li><a href="{% url 'register' %}"> Register</a></li>
        <li><a href="{% url 'login' %}"> Log In</a></li>
        {% endif %}
            </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

{% if messages %}
    <div class="white-text">
        <div class="center-align messages">
            <a class="waves-effect waves-light btn-floating amber darken-3"><i class="material-icons">notifications</i></a>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    </div>
{% endif %}


<!--<div class='container-fluid'>-->
<!--      <div class='alert alert-success'>-->
<!--         {% if messages %}-->
<!--          <div>-->
<!--              {% for message in messages %} {{ message }} {% endfor %}-->
<!--          </div>-->
<!--        {% endif %}   -->
    
<!--   <ul>-->
<!--       {% if not user.is_authenticated %}-->
<!--        <li><a href="{% url 'login' %}">Login</a></li>-->
<!--         <li><a href="{% url 'register' %}">Register</a></li>-->
<!--        {% endif %}-->
       
<!--        <li>Profile</li>-->
<!--        {% if user.is_authenticated %}-->
<!--        <li><a href="{% url 'logout' %}">Logout</a></li>-->
      
<!--        {% endif %}-->
<!--   </ul>-->
<!--   <h1>{% block page_heading %}{% endblock %}</h1>-->
   
<!--       {% block content %}{% endblock %}-->
<!--   </div>-->
 
 
 
 <!--script-->
 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
      $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('select').material_select();
      });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   
</body>
</html>