{% extends 'base.html' %}

{% block content %}

<h1>Our Products</h1>
    <ul>
        {% for product in catalog %}
        <li>
            Category: {{ product.Category.name }} |
            
            {{product.name}} x {{product.stock}}
            
            {%if product.image %}
                <img src="{{product.image.cdn_url}}"/>
            {%endif%}
            <a href="{% url 'update_product' product_id=product.id %}">Update</a>
            <a href="{% url 'add_to_cart' product_id=product.id %}">Add to Cart</a>
        </li> 
        {% endfor %}
    </ul>


{% endblock %}
